.button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-primary-soft);
  color: var(--color-primary);
  border-radius: var(--radius-sm);
  font-weight: 600;
  padding: 0.4rem 0.75rem;
  font-size: 0.8rem;
  max-height: 1.75rem;
}
