.container {
  & button {
    display: flex;
    justify-content: center;

    padding: 0.55rem 1rem;
    width: 100%;
    border-radius: 10px;

    color: #fff;
    background-color: var(--color-primary);

    font-size: var(--text-sm);
    font-weight: var(--font-semibold);

    transition: all ease-in-out 0.3s;
  }

  & button:hover {
    filter: brightness(110%);
  }

  &Disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
