:root {
  --radius: 0.875rem;
  --background: #f6fbff;
  --foreground: #121b29;
  --surface: #eef6fd;
  --card: #fff;
  --card-foreground: #121b29;
  --primary: #507ef1;
  --primary-foreground: #f9fcff;
  --primary-soft: #e1ebff;
  --secondary: #ebf3fc;
  --secondary-foreground: #222e42;
  --muted: #eaf1f8;
  --muted-foreground: #5f6a7b;
  --accent: #00d1d9;
  --accent-foreground: #071727;
  --destructive: #de3b3d;
  --destructive-foreground: #fcfcfc;
  --success: #32b36e;
  --success-foreground: #fcfcfc;
  --border: #dbe2e9;
  --input: #e2e9f0;
  --ring: #507ef159;
  --avatar-1: #f17260;
  --avatar-2: #c39900;
  --avatar-3: #43b966;
  --avatar-4: #00b5ce;
  --avatar-5: #8d90ff;
  --avatar-6: #de73bd;
}

html,
body {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --color-black: #000;
  --color-white: #fff;
  --spacing: 0.25rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-6xl: 72rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.2;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --tracking-tight: -0.025em;
  --tracking-wide: 0.025em;
  --tracking-widest: 0.1em;
  --leading-tight: 1.25;
  --leading-relaxed: 1.625;
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-spin: spin 1s linear infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --blur-2xl: 40px;
  --aspect-video: 16 / 9;
  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --default-mono-font-family: var(--font-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-display: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif;
}
