.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: 0 1rem;

  &Wrapper {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & > h3 {
      font-weight: 700;
      font-size: 1.5rem;
    }

    & > p {
      color: var(--color-text-muted);
      font-size: var(--text-sm);
      margin: -1.5rem 0 0 0;
    }

    &Header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &Buttons {
        display: flex;
        gap: 1rem;
      }

      &Input {
        max-width: 20rem;
        width: 100%;
      }
    }

    &Grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
