.container {
  display: flex;
  width: fit-content;

  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 9999px;

  background-color: burlywood;
  color: #fff;

  font-size: var(--text-xs);
}
